html, body {
    background-color: #fff;
    height: 100vh;
    margin: 0;
    box-sizing: border-box;
}
.colgroup{
  text-align: center;
  font-size: 10vh;
  line-height: 7;
  color: rgb(186, 184, 182);
}
.navgeneral{
  border: 0.1em red solid;
  margin-bottom: 7em;
}
.navegacion{
  font-family: 'Josefin Sans' , sans-serif;
  float: left;
  height: 100%;
  width: 50%;
  box-sizing: border-box;
  text-align: right;
  padding-right: 5em;
}

.aplicacion{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2.5em;
  color: #636b6f;
  float: left;
  height: 100%;
  width: 50%;
  box-sizing: border-box;
  line-height: 1.5;
  padding-left: 2em;
}

.main-menu{
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  background: hsla(240, 3%, 11%, 0.75);
  display: table;
  margin: auto;
}

.main-menu__item{
  float: left;
  width: 12em;
}

.main-menu__item:hover{
  background: rgba(0, 0, 0, 0.3);
}

.main-menu__link{
  text-decoration: none;
  color: #fff;
  display: block;
  line-height: 2.5;
  padding: 0 1em;
}

.main-menu--child{
  position: absolute;
  width: 12em;
  display: none;
}

.main-menu__item--child{
  float: none;
}

.main-menu__item:hover > .main-menu--child{
  display: block;
}

.Articulo{
  padding-left: 2em;
}

.titulos{
    color: #636b6f;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 40px;
    font-weight: normal;
}

.ContenedorTabla{
    min-width: 10%;
    max-width: 95%;
    max-height: 30em;
    overflow: auto;
}

.tabla {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size:12px;
    min-width: 30%;
    border-collapse: collapse;
    padding:10px;

}

.tabla th {
    font-size: 1em;
    background-color:  hsla(240, 3%, 11%, 0.75);
    color: #FFFFFF;
    font-family: 'Josefin Sans', sans-serif;
    border-width: 0.1px 1px 1px 0.1px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-right-color:  hsla(240, 3%, 11%, 0.75);
    border-bottom-color: #558FA6;
    text-transform: uppercase;
}

.tabla td{
    padding: 5px;
    font-size: 12px;
    border: 1px solid  #A4C4D0;
}
tr:hover{background-color:#f5f5f5}


.loguin-form{
    width: 20%;
    background: rgba(15, 41, 75, 0.21);
    margin: auto;
    padding: 2em 1em;
    margin-top: 15%;
    border-radius: 1em;
}

.loguin-form__input{
    display: block;
    width: 100%;
    margin-bottom: 1em;
    margin: auto;
    border: none;
    line-height: 2;
    padding: 0.1em;
    border-radius: 0.5em;
}

.loguin-form__submit{
    display: block;
    width: 100%;
    color: white;
    background: rgba(0, 0, 0, 0.7);
    border: none;
    line-height: 2;
    text-transform: uppercase;
    font-size: 1em;
    border-radius: 0.5em;
}

.loguin-form__label{
    padding: 1em 0em 0.5em 0em;
    display: block;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2em;
}

.loguin-form__submit:hover{
  cursor: pointer;
}

.loguin-recuperar{
  text-align: center;
  display: block;
  margin-top: 1em;
  text-decoration: none;
  color: black;
}
.contenedor-modal{
  width: 100%;
  height: 100vh;
  position: fixed;
  background: rgba(0, 0, 0, 0.53);
  top: -100vh;
  left: 0;
  z-index: 100%  ;
  display: flex;
  justify-content: center;
  align-items: center;
  /*transition: All 1s;*/
}
  .contenedor-modal .js_mostrar{
    width: 100%;
    height: 100vh;
    position: fixed;
    background: rgba(0, 0, 0, 0.53);
    top: 0;
    left: 0;
    z-index: 100%  ;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.forma-form{
  width: 25%;
  padding: 2em;
  border: 1px rgba(0, 0, 0, 0.37) solid;
  background: hsl(0, 0%, 100%);
  border-radius: 1em;
}
.forma-form__input{
  line-height: 2.5em;
  width: 95%;
  border: 0px;
  background-color: rgba(255, 255, 255, 0.01);
  border-bottom: 1px rgba(38, 168, 209, 0.7) solid;
  transition: 1s;
}
.forma-form__input:hover{
  border-color: rgba(38, 168, 209, 0.7);
}

.forma-form__label{
  padding: 0.5em 0em 0.2em 0em;
  display: block;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.2em;

}
.forma-form__boton{
  background: hsla(240, 3%, 11%, 0.85);
  color: white;
  border: none;
  width: 8em;
  line-height: 2em;
  margin-top: 3em;
}

.forma-form__boton:hover{
  cursor: pointer;
}

.crud{
    padding:5px 10px;
    background-color: rgba(255, 255, 221, 0.5);
    text-decoration: none;
    color: #5e5e5e;
    height: 25px;
    margin: 10px;
}
.crud:hover{
    background-color: rgba(255, 255, 221, 0.7);
    color: #2e3436;
}

.ContenedorCrud{

    padding-top: 2.5em;
}
